.radio-button,
.radio-button * {
  box-sizing: border-box;
}

.radio-button {
  width: 128px;
  height: 32px;
  position: relative;
}

.radio-button__label {
  height: 32px;
  position: absolute;
  right: 0px;
  left: 24px;
  top: 0px;
}

.radio-button__title {
  color: var(--black8, rgba(0, 0, 0, 0.8));
  text-align: left;
  font: var(--pos-ui11, 400 11px/16px "Inter");
  position: absolute;
  right: 4px;
  left: 8px;
  bottom: 8px;
  top: 8px;
}

.radio-button__radio-button2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
